@import 'custom-master';

.ht-navbar {
  background-color: rgba(255, 255, 255, 0.79);
  height: 100px;
  box-shadow: 0px 0px 25px -10px;

  .ht-brand {
    width: 300px;
  }

  @include mobile-only {
    height: auto;
    .ht-brand {
      width: 200px;
    }
  }

  .ht-navbar-menu {
    background: transparent;
  }
  
  a.navbar-item {
    height: 100%;
    font-weight: bold;

    &:hover {
      background-color: #f07677;
      color: #fff;
    }
  }

  .ht-logo {
    align-items: center; 
  }
}
